body{
  background-color: #eee;
  background: #333;
  opacity: 0.9;
  background-repeat: no-repeat;
  background-size: cover;
}
/* JS Interactive Header + Footer Props */

.topbar__left {
  float: left;
}
.topbar__right {
  float: right;
}
#footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}
#topbar, 
#footer {
    font-family: 'Gruppo', cursive;
    height: 80px;
    background-color: rgba(36, 124, 206, 0.5) !important;
    text-align: center;
    padding: 15px;
    color: #fff;
    
}
#topbar a {
    color: #fff;
    font-size: 1.2em;
    padding: 5px;
}

.main-heading {
  text-align: center;
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  letter-spacing: 2px;
  color: #fff;
  text-shadow: 4px 2px rgba(36, 124, 206, 0.5);
  font-size: 1.3em;
}

.container{
  width: 500px;
  height: 300px;
  margin:5px auto;
  margin-bottom: 50px;
  border-radius: 25px;
  box-shadow: 0 20px 40px 0px rgba(0,0,0,0.3);
  /* position: absolute; */
}
  
.header {
  height: 20%;
  background-color: rgb(84, 218, 102);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  text-align: center;
  position:relative;
}
  
#temp, #humidity-div {
  
  font-weight: bold;
  font-size: 30px;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
  
.city-icon-holder {
  position:absolute;
  left: 25%;
  top: 40%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
  
#city-name {
  
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}

.city__heading {
  color: #fff;
  font-size: 18px;
  font-family: 'ZCOOL QingKe HuangYou', cursive;
}


  
#main{
  width: 100%;
  height: 100%;
  position: relative;
}
#icon {
  width:50%;
}  
.city-icon {
  height: 80%;
  width: 50%;
  border-bottom-left-radius: 25px;
  background-color: rgba(224, 119, 21, 0.7);
}
  
.temperature {
  position: absolute;
  left: 50%;
  top:0%;
  height: 40%;
  width: 50%;
  background-color: rgba(163, 32, 175, 0.7);
  
}
.humidity {
  height: 40%;
  width: 50%;
  position:absolute;
  left:50%;
  top:40%;
  border-bottom-right-radius: 25px;
  background-color: rgba(238, 42, 16, 0.7);
}
  
#search-btn {
  width: 40px;
  height:40px;
  color: #eee;
  padding-left: 10px;
}
#search-txt {
  color: rgb(84, 218, 102);
  height:30px;
  border-radius: 10px;
  border-style:none;
  outline:none;
  padding-right:1px;
  padding-left:1px;
  text-align:center;
}
.search {
  position: absolute;
  left: 50%;
  top:50%;
  -webkit-transform:translate(-50%,-50%);
  transform:translate(-50%,-50%);
}

/* about section */
.section_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(36, 124, 206, 0.5);
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  color: #fff;
 
}

@media screen and (max-width: 900px) {
  .container{
    width: 100%;
    border-radius: 25px;
    box-shadow: 0 20px 40px 0px rgba(0,0,0,0.3);
    margin-bottom: 50px;
    /* position: absolute; */
  }
  #topbar {
    height: fit-content;
  }
  #footer {
    position: relative;
    bottom: 0;
    right: 0;
    left: 0;
}
  .topbar__right,
  .topbar__left {float: none;}
}